{%extends 'my-gallery/base.html'%} 
{% block content %}
<div class="container">

  <div class="row">
    {% if image%}
      <h2>Found {{ images|length }} of searched term {{message}}</h2>
    {% else %}
      <h2> Found 0 images for the search term {{message}}</h2>
    {% endif %}

  </div>

  <div class="row">

  {% if articles %}
    {% for article in articles %}
    <div class=" col-sm-12 col-md-6 col-lg-3" style="padding-bottom:40px;">
      <img src="{{images_item.image.url}}" class="img-responsive " alt="Image" width="400" height="200" data-toggle="modal" data-target="#{{images_item.title }}{{image.id}}">
      
    </div>
    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}